
        ul{
            list-style-type: square;
            color:rgb(199, 68, 68);
            font-size:medium;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
            margin: 20px;
            background-color: #f4f4f4;
            border-radius: 8px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            
        }